/OOPTest/build/
/OOPTest/nbproject/private/
/DemoIOWithGeneric/build/
/PRO192_PE_SP24_Trial_060922/PaperNo_1/1/nbproject/private/
/PRO192_PE_SP24_Trial_060922/PaperNo_1/2/nbproject/private/
/PRO192_PE_SP24_Trial_060922/PaperNo_1/3/nbproject/private/
/PRO192_PE_SP24_Trial_060922/PaperNo_1/4/nbproject/private/
/PRO192_PE_SP24_Trial_060922/PaperNo_1/1/build/
/PRO192_PE_SP24_Trial_060922/PaperNo_1/1/dist/
/PRO192_PE_SP24_Trial_060922/PaperNo_1/2/build/
/PRO192_PE_SP24_Trial_060922/PaperNo_1/2/dist/
/PRO192_PE_SP24_Trial_060922/PaperNo_1/3/build/
/PRO192_PE_SP24_Trial_060922/PaperNo_1/3/dist/
/StudentsManagement/target/
/TEST/target/
